html, body {
  font-size: 16px;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  background: lavender;
  font-family: verdana;
}

h1 {
  font-family: impact;
}

.main-content {
  flex: 1;
}

fieldset {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
}

legend {
  padding-right: 10px;
  padding-left: 10px;
  font-weight: bold;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
}

.flex-item {
  display: flex;
  margin: 5px;
}

label {
  margin-right: 10px;
  padding: 5px;
  text-align: right;
}

.currency_label {
  width: 75px;
}

input {
  width: 50px;
  padding: 5px;
  border-radius: 5px;
}

button {
  padding: 10px;
  border-radius: 5px;
  background: mediumpurple;
  color: gold;
  font-family: 'Comic Sans MS';
  font-weight: bold;
}

#calculate {
  margin-left: 10px;
}

#clear {
  margin-top: 10px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 10px;
}

.author {
  font-size: 0.7rem;
}
