body {
  background: lavender;
}

fieldset {
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
}

legend {
  width: auto;
}

.form-inline fieldset .container-fluid .form-group {
  flex-basis: 240px;
}

.form-inline fieldset .container-fluid .form-group .col-form-label {
  flex-basis: 75px;
}

.form-inline fieldset .container-fluid .form-group .form-control {
  width: 60px;
}

.form-inline .container-fluid .form-group .form-control {
  width: 120px;
}

#register_status {
  font-weight: bold;
}

li {
  margin-bottom: 20px;
}

.open {
  color: green;
}

.closed {
  color: red;
}

#change_list {
  list-style-type: circle;
}

.author {
  font-size: 0.7rem;
}
