body {
  background: lavender;
}

fieldset {
  width: 100%;
  border-radius: 10px;
}

#cid_fieldset {
  border: 1px solid black;
}

#paid_fieldset {
  border: 1px solid silver;
}

legend {
  width: auto;
}

#paid_fieldset legend {
  font-size: 1.05rem;
}

.form-inline #cid_fieldset .container-fluid .form-group {
  flex-basis: 240px;
}

.form-inline #paid_fieldset .container-fluid .form-group {
  flex-basis: 170px;
}

.form-inline fieldset .container-fluid .form-group .col-form-label {
  flex-basis: 75px;
}

.form-inline fieldset .container-fluid .form-group .form-control {
  width: 60px;
}

.form-inline .container-fluid .form-group .form-control {
  width: 120px;
}

.required {
  color: red;
  font-weight: bold;
}

#register_status {
  font-weight: bold;
}

li {
  margin-bottom: 20px;
}

.open {
  color: green;
}

.closed {
  color: red;
}

#change_list {
  list-style-type: circle;
}

.author {
  font-size: 0.7rem;
}
